body:not(.page-template-template-login) {
  main#primary {
    margin-top: 57px;

    @screen lg {
      margin-top: 141px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans font-normal text-black mb-2 leading-tight;
}

h1 {
  @apply text-5xl;
}

p,
input,
div {
  @apply font-sans font-light leading-normal text-gray-500;
}

// max-w-prose limits to 65ch width
p {
  @apply mb-4 max-w-prose;
}

a {
  @apply font-sans text-[#E89604] no-underline border-b border-transparent tracking-wide;

  transition: 0.2s ease;

  &:hover {
    @apply border-primary;
  }
}

.btn {
  @apply text-sm font-sans font-normal uppercase tracking-widest px-8 py-4 leading-none text-center;
}

.container {
  @apply px-4;
}

.title-display {
  @apply font-serif tracking-widest uppercase text-base relative;

  &.title-display-left {
    padding-left: 49px;

    &::before {
      content: "";
      width: 20px;
      height: 2px;
      position: absolute;
      top: 7px;
      left: 15px;
    }

    &::after {
      content: "";
      width: 35px;
      height: 2px;
      position: absolute;
      top: 11px;
      left: 0;
    }
  }

  &.title-display-center {
    &::before {
      content: "";
      width: 2px;
      height: 35px;
      position: absolute;
      top: -37px;
      left: calc(50% - 2px);
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      width: 2px;
      height: 20px;
      position: absolute;
      top: -33px;
      left: calc(50% + 2px);
      transform: translateX(-50%);
    }
  }

  &.text-primary {

    &::before,
    &::after {
      background-color: #0076ff;
    }
  }
}

.section_ {
  &page-banner {
    .content {
      @screen md {
        @apply max-w-2xl;
      }

      @screen lg {
        @apply max-w-lg;

      }
    }

    &.start {
      &::after {
        content: '';
        @apply absolute top-0 right-0 bottom-0 w-full h-full mix-blend-multiply;
        background: linear-gradient(90deg, #0c73a300 1.11%, hsl(199.07deg 86.29% 34.31% / 64%) 13.51%, rgb(12 115 163) 98.73%);
        opacity: 0.79;
      }
    }

    @screen lg {
      &.start {
        &::after {
          content: '';
          @apply absolute top-0 right-0 bottom-0 w-1/2 h-full mix-blend-multiply;
          background: linear-gradient(90deg, #0c73a300 1.11%, hsl(199.07deg 86.29% 34.31% / 64%) 13.51%, rgb(12 115 163) 98.73%);
          opacity: 0.79;
        }
      }
    }
  }

  &tabbed-content {
    .btn-wrapper {
      .tabbed-btn {
        @apply border-primary text-primary;
        min-width: 8rem;

        &.active {
          @apply bg-primary text-white;
        }
      }
    }

    .content-wrapper {
      .tabbed-content {
        @apply hidden;

        &.active {
          @apply block;
        }
      }
    }
  }

  &accreditation-slider {

    .slick-initialized .slick-track {
      display: flex !important;
      align-items: center;
    }

    .slick-dots li {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;



      button {
        border: 0;
        background: transparent;
        display: block;
        height: 20px;
        width: 20px;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        padding: 5px;
        cursor: pointer;


        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "_";
          width: 20px;
          height: 20px;
          /* font-family: "slick"; */
          font-size: 50px;
          line-height: 20px;
          text-align: center;
          @apply text-primary;
          opacity: .25;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }

  &testimonials {
    .slick-dots {
      @apply block text-right;

      @screen sm {
        bottom: 4.5px;
      }

      height: 4px;

      li {
        width: 35px;
        height: 4px;

        button {
          @apply p-0 inline-block;
          width: 35px;
          height: 4px;

          &::before {
            @apply bg-primary;
            content: '';
            width: 35px;
            height: 4px;
          }
        }
      }
    }
  }

  &quoting-engine {
    .engine-wrap {
      @apply relative;

      &::after {
        @apply absolute border border-gray-600;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 80%;
        z-index: -1;
        transform: translateY(-50%);
      }
    }
  }
}

#cookie-notice {
  @apply hidden opacity-0 pointer-events-none -z-10;

  &.active {
    @apply block opacity-100 pointer-events-auto z-10;
  }

  @screen md {
    width: 320px !important;
    transform: translateY(100%);

    &.active {
      transform: translateY(0);
    }
  }
}

#panel-share {
  &.active {
    @apply visible opacity-100;
  }

  @media (max-width: 767px) {
    @apply w-full h-full inset-0;

    background-color: rgba(0, 0, 0, 0.5);

    .panel-share {
      @apply absolute w-full bottom-0 left-0 transition;

      transform: translateY(100%);
    }

    &.active {
      .panel-share {
        transform: translateY(0);
      }
    }
  }

  @screen md {
    transform: translate(-50%, -80%);
    left: 50%;
    top: -0.75rem;

    &.active {
      transform: translate(-50%, -100%);
    }
  }
}

.arrow-bottom::after {
  @apply absolute rounded-sm;

  content: " ";
  transform: translateX(-50%);
  left: 50%;
  bottom: -10px;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: none;
}

.mixitup-control {
  @apply text-gray-800 transition;

  &.mixitup-control-active {
    @apply text-white bg-primary;
  }
}
.justify-stretch {
  justify-content: stretch;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inset-auto {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

.inset-y-0 {
  top: 0;
  bottom: 0;
}

.inset-x-0 {
  right: 0;
  left: 0;
}

.inset-y-auto {
  top: auto;
  bottom: auto;
}

.inset-x-auto {
  right: auto;
  left: auto;
}

.top-auto {
  top: auto;
}

.right-auto {
  right: auto;
}

.bottom-auto {
  bottom: auto;
}

.left-auto {
  left: auto;
}

.transition {
  transition: all 0.2s ease;
}

.list-none {
  list-style-type: none;
}

.embed {
  &-21by9 {
    @apply aspect-21/9 relative block p-0 overflow-hidden;
  }

  &-16by9 {
    @apply aspect-16/9 relative block p-0 overflow-hidden;
  }

  &-3by2 {
    @apply aspect-3/2 relative block p-0 overflow-hidden;
  }

  &-4by3 {
    @apply aspect-4/3 relative block p-0 overflow-hidden;
  }

  &-3by4 {
    @apply aspect-3/4 relative block p-0 overflow-hidden;
  }

  &-7by10 {
    @apply aspect-7/10 relative block p-0 overflow-hidden;
  }

  &-1by1 {
    @apply aspect-square relative block p-0 overflow-hidden;
  }
}

.object-fit {
  &-cover {
    @apply absolute inset-0 w-full h-full object-cover;
  }

  &-contain {
    @apply absolute inset-0 w-full h-full object-contain;
  }
}

.bg-half-gray-100 {
  @apply relative;

  &::before {
    @apply absolute top-0 left-0 right-0 h-1/2 bg-gray-100;

    content: "";
  }
}

.slick-slide {
  @apply inline-block;
}

.h-24 {
  height: 24rem;
}

.-z-1 {
  z-index: -1;
}

.text-custom-blue {
  color: #1176ff;
}

.text-custom-lighter-blue {
  color: #58baee;
}

.box {
  position: relative;
  border: 1px solid #0076ff;
  background-color: rgb(251, 251, 251);
  padding: 0.75rem;

}

.blue-check {
  position: absolute;
  right: 10px;
  top: 35%;
}

.checkout-step {
  .pane {
    @apply hidden;
  }

  &.active {
    .pane {
      @apply block;
    }
  }
}

.fixed-sidebar {
  padding: 0.5rem 0;
  position: fixed;
  bottom: 50%;
  right: -5px;
  width: 80px;
  transition: right .2s ease;

  path {
    transition: transform .2s ease;
  }

  &.hide {
    right: -74px;

    path {
      transform: rotateY(180deg) translateX(-80%);
    }
  }
}

.fixed-sidebar * {
  color: #fff;
}

.fixed-sidebar .chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  height: 30px;
  width: 20px;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.banner-height {
  height: 50vh;

  @screen lg {
    height: 75vh;
  }
}

#checkout-summary-toggle {
  svg {
    @apply transition;

    transform: rotate(0);
  }

  &.active {
    svg {
      transform: rotate(180deg);
    }
  }
}

.input-text {
  @apply w-full border border-gray-200 rounded p-2;
}

.translate-center {
  transform: translate(-50%, -50%);
}

.translate-x-center {
  transform: translateX(-50%);
}

.translate-x-center {
  transform: translateY(-50%);
}

.slick-overflow-visible {
  .slick-list {
    @apply overflow-visible;
  }
}

//accordion
#accordion {
  .accordion {
    .accordionTitle {
      @apply mb-3;
    }

    .accordionBody {
      display: none;

      >ul {
        >li {
          @apply list-disc ml-4;
        }
      }
    }

    &.active {
      .accordionTitle {
        @apply  text-white drop-shadow-xl  tracking-wide mb-0 z-10;
      }

      .accordionBody {
        display: block;
        height: fit-content;

        >ul {
          >li {
            @apply list-disc ml-4;
          }
        }
      }
    }
  }
}

.trapezoid {
  @screen lg {

    clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.cta-chat-fixed {
  @apply hidden;

  @screen lg {
    @apply fixed bottom-4 right-4 rounded-full z-[999] transition translate-x-0 opacity-100 flex bg-gray-100 border border-gray-200 p-0.5;
    
    &.chat-open {
      @apply right-0 translate-x-full opacity-0;
    }
  
    .chat-method {
      @apply w-14 h-14 rounded-full cursor-pointer flex items-center justify-center transition m-0.5;
    }
  }
}

.product-bottom-bg {
 
  @apply absolute w-full;

  &::after {
    content: '';

    @apply bg-primary/90 w-full h-full absolute inset-0 mix-blend-multiply z-0;

  }

}

.privacy-text-block{
  p{
   max-width: 101ch !important;
 }
}


.arrow {
  position: relative;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #fff;
  color: #fff;
  margin: 0 auto 40px;
  text-align: center;
  width: 220px;
  @apply flex flex-col justify-between gap-2 py-4 px-2;


  &>div {

    height: 10px;
    background-color: #70707018;
    border-radius: 20px;

    &:nth-child(1) {
      width: 90%;
    }

    &:nth-child(2) {
      width: 100%;
    }

    &:nth-child(3) {
      width: 60%;
    }
  }

  @apply shadow-lg;

  &:after,
  &:before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    border: solid transparent;
  }

  &.arrow--2 {


    &:before {
      border-width: 12px;
      border-color: rgba(255, 255, 255, 0);
      right: 0;
      margin-right: -22px;
      top: 50%;
      margin-top: -12px;
      border-left-color: #fff;
    }

  }

  &.arrow--1 {


    &:before {
      border-width: 12px;
      border-color: rgba(255, 255, 255, 0);
      left: 0;
      margin-left: -22px;
      top: 50%;
      margin-top: -12px;
      border-right-color: #fff;
    }
  }


}

.product-overlay{
  &::after {
    content: '';
    @apply absolute inset-0 w-full h-full mix-blend-multiply;
    background: linear-gradient(90deg,#0c73a3e0,rgb(12 115 163 / 64%) 51%,rgba(12,115,163,.876));
    opacity: 0.79;
  }
}

.line-before::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #3392BF;
  height: 2px;
  width: 18px;
}

#key-features{
  .accordion-heading{
    cursor: pointer;
    
    svg{
    transition: transform .1s linear;
    transform: rotate(0deg);
    }
    
    &.collapsed svg{
    transition: transform .1s linear;
    transform: rotate(180deg);
    }
    }
    
    .accordion-text {
    height: auto;
    overflow: hidden;
    transform: scaleY(1);
    transform-origin: top;
    letter-spacing: 0.025em;
    transition: transform 0.1s ease-in-out;
    }
    .accordion-text.collapse {
    height: 0;
    transform: scaleY(0);
    }
}

.product-link-overlay{
  background: rgb(0,0,0);
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(25,141,196,0.3015800070028011) 100%);
  }

  .image-flip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

  #article{
    p{
      @apply font-normal tracking-wide text-[#7c7c7c];
      max-width: 768px;
    }
  }
  // .bg-product-cta{
  //   background-image: url('../../../../uploads/2023/09/shutterstock_1743489542.jpg');
  // }

  #colour_picker {
    @screen lg {
        .colourSwtach {
            display: none ;
            opacity: 0;
            transition: opacity .75s ease;

            &.active {
                display: inline-block ;
                opacity: 1;
            }
        }
    }
    .colourSwtach {
            &.selected {
                border: 3px solid #3392BF;
            }
    }
  }

  @media (max-width: 1279px) {
    main#primary {
      margin-top: 57px;
  
      @screen lg {
        margin-top: 125px !important;
      }
    }
  }