# Redirect http to https
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

## STOP REFERRER SPAM
RewriteCond %{HTTP_REFERER} semalt\.com [NC,OR]
RewriteCond %{HTTP_REFERER} www1.free-share-buttons\.top [NC,OR]
RewriteCond %{HTTP_REFERER} buttons-for-website\.com [NC]
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteRule .* - [F]

# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</Files>

# DISABLE directory browsing
Options All -Indexes

# DISABLE access to wp-comments-post.php
<Files "wp-comments-post.php">
Order Allow,Deny
Deny from all
</Files>

# Redirect register to the happiest place on earth
RewriteEngine On
RewriteCond %{QUERY_STRING} ^action=register$ [NC]
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteRule ^wp-login.php$ http://www.disneyland.com? [L,R=301,NC]

<Files "wp-signup.php">
Order Allow,Deny
Deny from all
</Files>

<Files "wp-config.php">
Order Allow,Deny
Deny from all
</Files>

<Files "xmlrpc.php">
Order Allow,Deny
Deny from all
</Files>

<Files "readme.html">
Order Allow,Deny
Deny from all
</Files>

<Files "license.txt">
Order Allow,Deny
Deny from all
</Files>

# 301 Redirects
Redirect 301 /windows /windows-in-ipswich-suffolk-and-essex/
Redirect 301 /victorian-conservatories-ipswich-suffolk-and-essex /conservatories-ipswich-suffolk-and-essex/
Redirect 301 /widgets /conservatories-ipswich-suffolk-and-essex/
Redirect 301 /seamless-aluminium-gutters-ipswich-suffolk-essex /guttering-replacement-roofline-and-cladding-installation-suffolk-and-essex/
Redirect 301 /upvc-patio-french-bi-fold-doors-ipswich-suffolk-essex /doors/
Redirect 301 /sample-page /
Redirect 301 /p-shaped-conservatories-ipswich-suffolk-and-essex /conservatories-ipswich-suffolk-and-essex/
Redirect 301 /lean-to-conservatories-ipswich-suffolk-and-essex /conservatories-ipswich-suffolk-and-essex/
Redirect 301 /hello-world /news/
Redirect 301 /georgian-conservatories-ipswich-suffolk-and-essex /conservatories-ipswich-suffolk-and-essex/
Redirect 301 /gable-end-conservatories-ipswich-suffolk-and-essex /conservatories-ipswich-suffolk-and-essex/
Redirect 301 /gutter-replacement-ipswich-suffolk-essex /guttering-replacement-roofline-and-cladding-installation-suffolk-and-essex/
Redirect 301 /faqs-blue-light-windows-ipswich /about-blue-light-windows-suffolk-and-essex/
Redirect 301 /door-installation-in-ipswich-suffolk-and-essex /doors/
Redirect 301 /covid-policy-blue-light-windows /
Redirect 301 /bargeboards-fascia-and-soffits-ipswich-suffolk-essex /guttering-replacement-roofline-and-cladding-installation-suffolk-and-essex/
Redirect 301 /author/nickunicorndesigners-co-uk /news/
Redirect 301 /news/author/boilerplate-theme-by-icaal /news/